/**
 * @name Dyslexia
 * @author filtastisch
 * @version 1.0.0
 * @description Just makes the Discord font better for Dyslexia
 * @source https://github.com/filtastisch/DyslexiaTheme
 * @website https://filtastisch.eu
 */

@font-face {
    font-family: 'OpenDyslexic';
    src: url('https://github.com/filtastisch/DyslexiaTheme/raw/refs/heads/main/OpenDyslexic3-Regular.ttf') format('truetype');
}

*{
    font-family: 'OpenDyslexic', sans-serif;
}